h1   
{
  color: black;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  background-color:lightgoldenrodyellow;
  padding: 15px;
}

body 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
 
.img5 {
  position: absolute;
  margin-left:40px;   
  margin-top:5px; 
  
}
.img6 {
  position: absolute;
  margin-left:700px;   
  margin-top:5px; 
  
}

